<h1>Welcome <%= current_user["username"] %></h1>


<table border="1px" width="300px">
  <th>Here are the fish you've uploaded</th><th>Wikipedia Page</th>

  <% users_fish.each do |fish| %>
      <tr>
        <td><%= fish["fish_name"] %></td>
        <td><a href="<%= fish["wiki_link"] %>">Wiki-link</a></td>
      </tr>

  <% end %>

</table>
<!--<h2>Here are the fish you've favorited</h2>-->
<!--<%# fav_fish.each do |fish|%>-->
<!--<li><%#=fish["fish_name"]%><a href="<%#=fish["wiki_link"]%>">Wiki-link</a></li>-->
<!--<%#end%>-->
<br>

<table border="1px" width="300px">
  <th>Other Users</th><th>Delete User</th>
  <% other_users.each do |users| %>
      <tr>
        <td><a href="/<%= users["username"] %>"><%= users["username"] %></a></td>
        <td align="center">
          <form id="table_form" method="post" action="/delete/<%=users["username"]%>">

                <input id="delete_button" type="submit" value="delete"/>

          </form>
        </td>
      </tr>
  <% end %>

</table>
<table width="300px">
  <tr>
  <td>
<form id="table_under" method="get" action="/sort">
  <input type="radio" name="ascending" value="on">Ascending<br>
  <input type="radio" name="descending" value="on">Descending
  <button type="submit">Sort</button>
</form>
  </td>
  <td>
<form id="table_under" action="/add_fish" method="get">
  <input id="delete_button" type="submit" value="Add A Fish"/>
</form>
  </td>
  </tr>
</table>


<br>
<form action="/logout" method="post">
  <input type="submit" value="logout"/>
</form>